.container {
    max-width:600px;
    margin:0 auto;
}

.ui.menu {
    margin-bottom:0;
}

.head {
    border-bottom:3px solid #000;
    vertical-align: bottom;
    margin-bottom: 20px;
}

.head .item {
    width:50%;
    height:60px;
    padding:35px 0 0 0 ;
    display: inline-block;
    text-align: center;
}

.head .item:hover {
    cursor: pointer;
}

.head .item.active {
    background-color: #cfcfcf;
}

.header h1 {
    font-size:1rem;
    line-height: 1;
}

.main {
    background: #fff;
    width:660px;
    padding: 0 30px 30px 30px;
    margin: 0 auto;
}
.container.head {
    margin-top: 30px;
}
footer {
    text-align: center;
    border-top: 1px solid #cfcfcf;
}

.t-a-right {
    text-align: right;
}

.t-a-center {
    text-align: center;
}

.to_detail {
    margin-top:2%;
}

hr {
    margin: 5% 0;
}

.container.login {
    height:600px;
    padding-top:30px;
}

.twelve.wide.column.name {
    margin-bottom: 0;
}


.container .ui.grid {
    margin-top: 20px;
}

footer p.name {
    margin-top: 10px;
}